@import "../global.scss";
@font-face{
    font-family: narutoFont;
    src: url(../naruto.ttf);
}
*{
    margin: 0;
    padding: 0;
}
.navbarContainer{
    display: flex;
    justify-content: space-between;
    background-color: $mainColor;

    .logo{
        padding: 1rem;
        font-family: narutoFont;
    }
    
    .links{
        display: flex;
        list-style: none;
        padding: 1rem;
        gap: 1rem;
        font-family: narutoFont;
        li{
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}