@import "../../global.scss";
@font-face{
    font-family: narutoFont;
    src: url(../../naruto.ttf);
}
h1{
    margin: 1rem 0 0 1rem;
    font-family: narutoFont;
}
.watchingGuidePage{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100vh;
    gap: 1rem;

    
    .p1{
        height: 100vh;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
        box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
        border-radius: 1rem;
        font-size: 1.25rem;
        background-color:#024da1;
        color: white;

        button{
            background-color: transparent;
            color: white;
            cursor: pointer;
            border: solid 1px white;
            border-radius: 1rem;
            padding: 0.5rem 1rem;
            transition: all 0.25s ease;

            &:hover{
                color: lightgreen;
                border: solid 1px lightgreen;
            }
        }

        img{
            border-radius: 1rem;
        }

        

        

    }

    .p2{
        height: 100vh;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
        box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
        border-radius: 1rem;
        font-size: 1.25rem;
        background-color:black;
        color: white;

        button{
            background-color: transparent;
            color: white;
            cursor: pointer;
            border: solid 1px white;
            border-radius: 1rem;
            padding: 0.5rem 1rem;
            transition: all 0.25s ease;

            &:hover{
                color: lightgreen;
                border: solid 1px lightgreen;
            }
        }

        img{
            border-radius: 1rem;
        }
    }
}